body {
  margin: 0;
  padding: 0;
}

body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

ul li a {
  display: block;
  color: #666666;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: #dddddd;
}

ul li a.active {
  background-color: #04AA6D;
}

h1 {
  text-align: center;
}

h1 {
  text-align: center;
}

h5 {
  text-align: right;
}

h3 {
  text-align: left;
}

body {background-color: black;}

body {
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

h5 {
  color: white;
}
